/********** ハンバーガーボタン **********/
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  color: black;
  height: 60px; /* ヘッダーの高さ */
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 1px;
}

.hamburger-btn {
  display: flex;
  align-items: center;
  cursor: pointer; /* クリック可能な要素のカーソル */
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px; /* ハンバーガーボタンの高さ */
}

.header-left-line {
  width: 35px; /* ラインの幅 */
  height: 1px; /* ラインの高さ */
  background-color: black; /* ラインの色 */
  border-radius: 3px;
  margin: 2px 0; /* ライン間の間隔 */
  z-index: 1001;
}

.hamburger.change .header-left-line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px); /* 上の線を-45度に回転 */
  background-color: #e07bb5; /* 色を変更 */
}

.hamburger.change .header-left-line:nth-child(2) {
  transform: rotate(45deg) translate(-5px, -6px); /* 下の線を45度に回転 */
  background-color: #e07bb5; /* 色を変更 */
}

.hamburger-menu {
  display: none; /* 初期状態では非表示 */
  flex-direction: column;
  position: fixed;
  width: 100%; /* メニューの幅 */
  height: 100%;
  top: 0; /* 上端から */
  left: 0; /* 左端から */
  background-color: rgba(0, 0, 0, 0.9); /* 背景色 */
  z-index: 1000;
  align-items: center; /* 中央揃え */
  justify-content: center; /* 中央揃え */
}

.hamburger-logo {
  width: 153px;
  height: 34px;
  flex-shrink: 0;
  color: var(--accent_1_2, #e07bb5);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  /* 絶対位置指定 */
  top: 45px;
  /* 上端 */
  left: 0;
  /* 左端 */
  padding: 10px;
  /* 余白調整 */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
}

.links-container {
  margin-bottom: 24px;
  margin-left: 123px;
}

.links-container li {
  margin-bottom: -10px;
}

.nav-links li a {
  display: block;
  padding: 10px 20px;
  color: var(--accent_1_2, #e07bb5);
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}

.top-text {
  font-size: 12px;
}

.bottom-text {
  font-size: 12px;
}

.nav-links li a:hover {
  background-color: #555; /* ホバー時の背景色 */
}

.hamburger-sns {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.hamburger-tunecore-text {
  color: var(--accent_1_2, #e07bb5);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

/********** view moreボタン **********/

.btn-container {
  padding: 45px 81px 57px 78px;
}

.custom-btn {
  width: 182px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--black_1, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  background: var(--base_1_500e70, #500e70);
  text-decoration: none; /* リンクの下線を削除 */
  /* drop shadow */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  /* drop shadow_2 */
  box-shadow: 2px 2px 8px 0px #36094c;
  border-radius: 4px; /* 角を丸くする場合に使用 */
}

.custom-btn:hover {
  background: #3e0a56; /* ホバー時の背景色を変更 */
  color: #fff; /* ホバー時の文字色を変更 */
}

.movie-btn-container {
  padding: 466px 81px 57px 78px;
}
