/********** ハンバーガーボタン **********/
.no-scroll {
  position: fixed;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  color: black;
  height: 60px; /* ヘッダーの高さ */
  z-index: 2;
  position: absolute;
  top: -5px;
  right: 0px;
}

.close-area {
  position: fixed;
  top: 9px;
  right: 17px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1100;
}

.hamburger-wrapper {
  position: fixed;
  top: 10px; /* 上からの位置 */
  right: 10px; /* 右からの位置 */
  z-index: 1300; /* 他の要素の上に表示されるように */
}

.hamburger-btn {
  display: flex;
  align-items: center;
  cursor: pointer; /* クリック可能な要素のカーソル */
  padding: 20px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px; /* ハンバーガーボタンの高さ */
  width: 35px; /* ハンバーガーボタンの幅 */
}

.header-left-line {
  width: 35px; /* ラインの幅 */
  height: 1px; /* ラインの高さ */
  background-color: black; /* ラインの色 */
  border-radius: 3px;
  margin: 2px 0; /* ライン間の間隔 */
  z-index: 1001;
}

.hamburger.change .header-left-line:nth-child(1) {
  transform: rotate(-45deg) translate(-14px, 6px); /* 上の線を-45度に回転 */
  background-color: #e07bb5; /* 色を変更 */
}

.hamburger.change .header-left-line:nth-child(2) {
  transform: rotate(45deg) translate(-1px, 7px); /* 下の線を45度に回転 */
  background-color: #e07bb5; /* 色を変更 */
}

.hamburger-menu {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  width: 100%; /* メニューの幅 */
  height: 100%;
  top: 0; /* 上端から */
  left: 0; /* 左端から */
  background-color: black; /* 背景色 */
  z-index: 1000;
}

.hamburger-menu.show {
  display: flex;
}

.hamburger-logo {
  width: 153px;
  height: 34px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  /* 絶対位置指定 */
  top: 0%;
  /* 上端 */
  left: 0;
  /* 左端 */
  padding: 10px;
  /* 余白調整 */
  color: #e07bb5;
  z-index: 1400;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 53px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.links-container {
  margin-bottom: 14px;
  margin-left: 123px;
  padding-right: 35%;
  white-space: nowrap;
}

.links-container li {
  margin-bottom: -10px;
}

.nav-links li a {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  color: var(--accent_1_2, #e07bb5);
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}

.top-text {
  font-size: 12px;
}

.bottom-text {
  font-size: 12px;
}

.submenu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submenu-overlay-last {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1100;
  align-items: center;
  flex-direction: column;
}

.submenu-overlay.show {
  display: flex;
}

.hamburger-movies-polygon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 57%;
  right: 29%;
}

.hamburger-lyrics-polygon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 72%;
  right: 29%;
}

.hamburger-submenu-prev-polygon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 49%;
  left: 8%;
}

.hamburger-submenu-next-polygon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 49%;
  right: 8%;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 60%;
}

.submenu li {
  margin: 8% 0;
  white-space: nowrap;
}

.submenu li a {
  color: #e07bb5;
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}

.hamburger-sns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 86px;
}

.hamburger-submenu-sns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 97px 0 97px;
  width: 100%;
}

.hamburger-submenu-sns-last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 97px;
  width: 100%;
  margin-top: 104%;
}

.hamburger-tunecore-text a {
  color: #e07bb5;
  text-decoration: none;
}

.submenu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #e07bb5;
  width: 86%; /* 全幅に配置 */
  position: relative; /* 疑似要素の位置を相対的に設定 */
  padding-right: 6%;
  margin-top: 12%;
}

.submenu-top::after {
  content: '';
  display: block;
  width: 61%; /* 線の幅を調整 */
  margin: 10px auto 0; /* 上下のマージンを調整 */
  border-bottom: 1px solid #e07bb5; /* 下線を追加 */
  position: absolute;
  left: 15%; /* 左右の位置を調整 */
  top: 88%;
}

.submenu-top-last {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #e07bb5;
  width: 86%; /* 全幅に配置 */
  position: relative; /* 疑似要素の位置を相対的に設定 */
  padding-right: 6%;
  margin-top: 9.5%;
}

.submenu-top-last::after {
  content: '';
  display: block;
  width: 61%; /* 線の幅を調整 */
  margin: 10px auto 0; /* 上下のマージンを調整 */
  border-bottom: 1px solid #e07bb5; /* 下線を追加 */
  position: absolute;
  left: 15%; /* 左右の位置を調整 */
  top: 87.8%;
}

.submenu-top-text {
  display: flex;
  flex-direction: column;
  text-align: left; /* 左寄せ */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}

.submenu-page-number {
  display: flex;
  flex-direction: column;
  text-align: right; /* 右寄せ */
}

.submenu-top-text p,
.submenu-page-number p {
  margin: 0; /* 上下の余白を削除 */
  padding: 5px 0;
}

.submenu-top-eng {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
}

.submenu-top-jpn {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
}

p.submenu-top-jap {
  margin-left: -3px;
}

/********** view moreボタン **********/

.btn-container {
  text-align: center;
  margin-top: 14%;
}

.custom-btn {
  width: 182px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
  color: var(--black_1, #000);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  background: var(--base_1_500e70, #500e70);
  text-decoration: none; /* リンクの下線を削除 */
  /* drop shadow */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  /* drop shadow_2 */
  box-shadow: 2px 2px 8px 0px #36094c;
  border-radius: 4px; /* 角を丸くする場合に使用 */
}

.custom-btn:hover {
  background: #3e0a56; /* ホバー時の背景色を変更 */
  color: #fff; /* ホバー時の文字色を変更 */
}

.movie-btn-container {
  text-align: center;
}

/********** お問い合わせボタン **********/
.contact-button {
  background-color: #e07bb5;
  padding: 6px 41px;
  margin: 8% auto;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 51%;
}

.contact-button a {
  text-decoration: none;
  color: black; /* 黒い文字色 */
  font-size: 15px; /* フォントサイズを調整 */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  white-space: nowrap;
}

.contact-button:hover {
  background-color: #d5698e; /* ホバー時の背景色 */
}

/********** ページ下お問い合わせボタン **********/
.ctc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  margin-left: 14%;
}

.contact-btn {
  width: 182px;
  height: 33px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--accent_1_2, #e07bb5);
  font-family: 'Hina Mincho';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* drop shadow */
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
  /* drop shadow_2 */
  box-shadow: 2px 2px 8px 0px #36094c;
}
