/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

html,
body {
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  overflow: hidden;
  /* アニメーションの範囲外を隠す */
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  font-family: 'Hina Mincho';
}

/********** ファーストビュー　レイアウト **********/
.firstview-container {
  height: 402px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.firstview-logo {
  width: 153px;
  height: 34px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  /* 上端 */
  left: 0;
  /* 左端 */
  padding: 10px;
  /* 余白調整 */
}

.jpn {
  font-size: 14px;
  letter-spacing: 4.2px;
}

.roman {
  font-size: 10px;
}

.firstview-text {
  width: 100%;
  /* コンテナの幅を全幅に設定 */
  height: 100vh;
  /* コンテナの高さをビューポートの100%に設定 */
  display: flex;
  flex-direction: row-reverse;
  /* 要素を右から左に並べる */
  justify-content: center;
  /* 中央に配置 */
  align-items: center;
  /* 中央揃え */
  position: absolute;
  /* 絶対位置指定 */
  left: 50%;
  /* 画面の中央に配置 */
  top: 57px;
  transform: translateX(-40%);
  /* 中央からの微調整 */
}

.vertical-text {
  writing-mode: vertical-rl;
  /* 縦書き */
  text-orientation: upright;
  /* 文字を直立させる */
  margin-right: 20px;
  /* 右のテキストとの間隔 */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
}

.right-text {
  position: absolute;
  top: 10px;
  left: 217px;
  color: white;
  font-size: 14px;
}

.center-text {
  position: absolute;
  top: 90px;
  left: 162px;
  color: white;
  font-size: 14px;
}

.left-text {
  position: absolute;
  top: -57px;
  left: 90px;
  background: var(--base_1_500e70, #500e70);
  padding-top: 239px;
  height: 402px;
  font-size: 16px;
}

.jacket-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jacket-container {
  background: #500e70;
}

/********** 全体レイアウト **********/

.main-container {
  position: relative;
  background: var(--base_1_500e70, #500e70);
}

.all-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px; /* 縦長サブトンからの余白 */
  position: relative;
  z-index: 1; /* 座布団の下に表示されないように */
}

/********** 縦長サブトン　レイアウト **********/

.zabuton-vertical {
  width: 32px;
  height: 100%; /* 高さを100%に設定 */
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 23px;
  top: 0;
  z-index: 1; /* 他の要素の下に表示されるように */
}

.profile-vertical {
  writing-mode: vertical-rl;
  color: #e07bb5;
  font-size: 13px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  left: 5px;
  top: 164px;
  z-index: 2; /* テキストが座布団の上に表示されるように */
  white-space: nowrap;
}

/********** プロフィールコンテナ　レイアウト **********/

.zabuton-beside {
  width: 351px;
  height: 32px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 59px;
  right: 42px;
  z-index: 2; /* 座布団の上に表示されるように */
  text-align: center;
}

.top-h2 {
  color: var(--accent_1_2, #e07bb5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  padding: 5px 0 8px 93px;
}

.kana {
  color: var(--accent_1_2, #e07bb5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.5px;
  padding: 6px 0 0 97px;
}

.profile-container {
  padding: 20px;
  color: white;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.profile-container ul {
  list-style: none;
  padding-left: 30px;
}

.profile-container ul li {
  width: 251px;
  text-align: justify;
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  letter-spacing: 2.1px;
}

.furigana {
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 300% */
  letter-spacing: 1.2px;
}

.profile-name {
  text-align: justify;
  font-size: 18px;
  letter-spacing: 2.7px;
  padding-bottom: 31px;
}

.profile-image {
  margin: 100px 86px 41px 30px;
  width: 210px;
  height: 212px;
  flex-shrink: 0;
}

/********** schedule レイアウト **********/
.zabuton-beside-2 {
  width: 351px;
  height: 32px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 815px;
  right: 42px;
  z-index: 2; /* 座布団の上に表示されるように */
  text-align: center;
}

.kana02 {
  padding: 59px 164px 16px 115px;
}

p.no-schedule {
  padding: 224px 80px 166px 70px;
  white-space: nowrap;
  font-size: 16px;
}

.text02 {
  left: -21px;
  top: 870px;
}

/********** movie レイアウト **********/

.zabuton-beside-3 {
  width: 351px;
  height: 32px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1415px;
  right: 42px;
  z-index: 2; /* 座布団の上に表示されるように */
  text-align: center;
}

.text03 {
  left: -21px;
  top: 1500px;
}

.kana03 {
  padding: 21px 177px 189px 157px;
  position: relative;
}

.movie-thumbnail-content {
  position: absolute;
  top: 1500px;
}

.movie-thumbnail-container {
  padding: 0px 48px 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 190px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 1s ease-in-out; /* トランジションの速度を1秒に設定 */
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  margin: auto;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #e07bb5;
  float: right;
  font-size: 53px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********** フッター レイアウト **********/

.footer-container {
  position: absolute;
  width: 393px;
  height: 100px;
  flex-shrink: 0;
  background: #2c0141;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.footer-title {
  color: var(--accent_1_2, #e07bb5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.2px;
  white-space: nowrap;
  margin: 0;
}

.footer-kana {
  color: var(--accent_1_2, #e07bb5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin: 0;
}
