/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: var(--base_1_500e70);
  margin: 0;
  font-family: "Hina Mincho", serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  overflow: hidden;
  /* アニメーションの範囲外を隠す */
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  font-family: "Hina Mincho";
}

:root {
  --base_1_500e70: #500e70;
  --accent_1_2: #e07bb5;
}

/********** ファーストビュー　レイアウト **********/
.firstview-container {
  height: 402px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.firstview-logo {
  width: 153px;
  height: 34px;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  /* 上端 */
  left: 0;
  /* 左端 */
  padding: 10px;
  /* 余白調整 */
}

.jpn {
  font-size: 14px;
  letter-spacing: 4.2px;
}

.roman {
  font-size: 10px;
}

.firstview-text {
  width: 100%;
  /* コンテナの幅を全幅に設定 */
  height: 100vh;
  /* コンテナの高さをビューポートの100%に設定 */
  display: flex;
  flex-direction: row-reverse;
  /* 要素を右から左に並べる */
  justify-content: center;
  /* 中央に配置 */
  align-items: center;
  /* 中央揃え */
  position: absolute;
  /* 絶対位置指定 */
  left: 50%;
  /* 画面の中央に配置 */
  top: 57px;
  transform: translateX(-40%);
  /* 中央からの微調整 */
}

.vertical-text {
  writing-mode: vertical-rl;
  /* 縦書き */
  text-orientation: upright;
  /* 文字を直立させる */
  margin-right: 20px;
  /* 右のテキストとの間隔 */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5px;
}

.right-text {
  position: absolute;
  top: 10px;
  left: 217px;
  color: white;
  font-size: 14px;
}

.center-text {
  position: absolute;
  top: 90px;
  left: 162px;
  color: white;
  font-size: 14px;
}

.left-text {
  position: absolute;
  top: -57px;
  left: 90px;
  background: var(--base_1_500e70, #500e70);
  padding-top: 239px;
  height: 402px;
  font-size: 16px;
}

.jacket-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jacket-container {
  background: #500e70;
}

/********** プロフィール　レイアウト **********/
.profile-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding-top: 60px;
  background: var(--base_1_500e70);
}

.vertical-zabuton {
  position: absolute;
  left: 20px;
  top: 0;
  width: 32px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.vertical-zabuton-text {
  color: #e07bb5;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: relative; /* absoluteからrelativeに変更 */
  white-space: nowrap;
  transform: translateY(30px);
  letter-spacing: 0.4rem;
  text-align: center;
}

.profile-header {
  position: relative;
  text-align: center;
}

.horizontal-zabuton {
  position: absolute;
  top: 50%;
  left: 0;
  width: 93%;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.profile-subtitle {
  color: var(--accent_1_2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.6px;
  margin: 0;
  position: absolute;
  top: -34px; /* 必要に応じて調整 */
  left: 50%;
  transform: translateX(-50%);
}

.profile-title {
  color: var(--accent_1_2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  position: relative;
  padding-left: 54px;
}

.profile-content {
  text-align: center;
}

.profile-box {
  margin: 0 9% 5% 97px;
}

.profile-image {
  width: 100%;
  max-width: 210px;
  margin: 50px 86px 40px 117px;
  display: block;
}

.profile-name {
  margin-top: 10px;
}

.furigana {
  color: #fff;
  font-size: 8px;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin: 0;
  text-align: left;
}

.main-name {
  color: #fff;
  text-align: justify;
  font-size: 18px;
  letter-spacing: 2.7px;
  margin-bottom: 45px;
}

.profile-description {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.1px;
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30%;
}

/********** フッター レイアウト **********/

.footer-container {
  position: absolute;
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  background: #2c0141;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: var(--accent_1_2, #e07bb5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.2px;
  white-space: nowrap;
  margin: 0;
}

.footer-kana {
  color: var(--accent_1_2, #e07bb5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  margin: 0;
}

/********** スケジュール　レイアウト **********/
.schedule-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding-top: 60px;
  background: var(--base_1_500e70);
  padding-bottom: 20px;
}

.schedule-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.schedule-title1 {
  color: var(--accent_1_2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  position: relative;
  padding-left: 50px;
  margin-bottom: 52px;
}

.schedule-subtitle {
  color: var(--accent_1_2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.6px;
  margin: 0;
  position: absolute;
  top: -34px; /* 必要に応じて調整 */
  left: 50%;
  transform: translateX(-50%);
}

.schedule-content1 {
  text-align: left;
}

.custom-schedule-list {
  list-style: none;
  margin-left: 97px;
  padding: 0; /* 余白をリセット */
}

.schedule-date {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
  margin-bottom: 8px; /* 日付と内容の間にスペースを追加 */
}

.schedule-title {
  display: flex;
  align-items: center;
  width: 100%;
}

.schedule-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.schedule-title a,
.schedule-content {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
  text-decoration: none;
  width: 229px;
}

.schedule-content {
  word-wrap: break-word;
}

.schedule-item {
  margin-bottom: 37px;
}

.schedule-content-wrapper svg {
  flex-shrink: 0;
  width: 2%;
  height: 2%;
  stroke: var(--white, #fff);
  stroke-width: 1px;
  margin-left: 10px; /* テキストとアイコンの間にスペースを追加 */
  margin-right: 13%;
  margin-bottom: 6%;
}

/********** 動画　レイアウト **********/
.movie-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding-top: 60px;
  background: var(--base_1_500e70);
  padding-bottom: 20px;
}

.movie {
  width: 72%;
}

.movie-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.movie-subtitle {
  color: var(--accent_1_2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.6px;
  margin: 0;
  position: absolute;
  top: -34px; /* 必要に応じて調整 */
  left: 50%;
  transform: translateX(-50%);
  padding-left: 40px;
}

.movie-title {
  color: var(--accent_1_2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  position: relative;
  margin-bottom: 43px;
  padding-left: 30px;
}

.movie-thumbnail-container {
  position: relative;
  margin-left: 97px;
  margin-bottom: 50px;
}

.movie-thumbnail {
  width: 85%;
}

.play-icon-overlay {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 12%;
  height: 18%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 190px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 1s ease-in-out; /* トランジションの速度を1秒に設定 */
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  margin: auto;
  width: 80%;
  max-width: 800px;
}

.close {
  color: #e07bb5;
  float: right;
  font-size: 53px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********** リリック　レイアウト **********/

.lyrics-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding-top: 60px;
  background: var(--base_1_500e70);
  padding-bottom: 50px;
}

.lyrics {
  width: 80%;
}

.lyrics-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.lyrics-subtitle {
  color: var(--accent_1_2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.6px;
  margin: 0;
  position: absolute;
  top: -34px; /* 必要に応じて調整 */
  left: 50%;
  transform: translateX(-50%);
  padding-left: 6px;
}

.lyrics-title {
  color: var(--accent_1_2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  position: relative;
  margin-bottom: 43px;
  padding-left: 30px;
}

.lyrics-content {
  position: relative;
  padding: 0 30px;
}

.song-title-container {
  position: relative;
  margin-bottom: 20px;
}

.song-title {
  color: var(--accent_1_2);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  padding-left: 18%;
  padding-right: 80px;
  position: relative;
  z-index: 1;
}

.horizontal-zabuton.song {
  position: absolute;
  top: 50%;
  left: 14%;
  width: 100%;
  height: 32px;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.song-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 14%;
}

.song-thumbnail {
  width: 100%;
  max-width: 300px;
  margin: 30px 0;
}

.song-thumbnail {
  width: 40%;
}

.song-lyrics-container {
  max-width: 300px;
}

.song-lyrics {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  letter-spacing: 4.2px;
  margin: 0;
}

.more-link {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  width: auto;
  margin-bottom: 18%;
  margin-left: 80%;
}

/********** グッズ　レイアウト **********/

.goods-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding-top: 60px;
  background: var(--base_1_500e70);
  padding-bottom: 50px;
}

.goods-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.goods-subtitle {
  color: var(--accent_1_2);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3.6px;
  margin: 0;
  position: absolute;
  top: -34px; /* 必要に応じて調整 */
  left: 50%;
  transform: translateX(-50%);
  padding-left: 21px;
}

.goods-title {
  color: var(--accent_1_2);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 4.5px;
  margin: 0;
  position: relative;
  margin-bottom: 43px;
  padding-left: 30px;
}

.goods-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goods-item {
  text-align: center;
  margin: 4% 0 40px 13%;
}

.goods-image-container {
  position: relative;
  width: 167px;
  height: 167px;
  margin: 0 auto;
  overflow: hidden; /* これにより、はみ出した部分が隠れます */
  border-radius: 50%; /* 円形にする */
}

.goods-image-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.goods-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 67%;
  height: auto;
}

.goods-description {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 2.1px;
  margin-top: 20px;
  max-width: 300px;
  margin: 0 auto;
}
